logging:
  level:
    root: INFO
    com.praj: DEBUG
    org:
      springframework:
        security: DEBUG
server:
  port: ${SERVER_PORT:8081}
  error:
    include-stacktrace: never
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/secureApp
          jwt-set-uri: http://localhost:8080/realms/secureApp/protocol/openid-connect/certs
  #For development purpose, i have increased the access token expiry, please change when going live.
  main:
    allow-bean-definition-overriding: true
  autoconfigure:
    exclude:
      - io.awspring.cloud.autoconfigure.s3.S3AutoConfiguration
      - io.awspring.cloud.autoconfigure.sqs.SqsAutoConfiguration

  ##DB configuration
  #  datasource:
  #    url: jdbc:postgresql://localhost:5432/SvDB
  #    username: svuser
  #    password: strongpassword
  #  jpa:
  #    hibernate:
  #      ddl-auto: update
  datasource:
    url: jdbc:h2:file./SvDB
    username: svuser
    password: strongpassword
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
      show-sql: true


  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mapping: false
jwt:
  auth:
    converter:
      resourceId: secure-vault
      principalAttribute: preferred_username


# File configuration
servlet:
  multipart:
    enabled: true
    max-file-size: 10MB
    max-request-size: 10MB
files:
  upload:
    dir: ${UPLOAD_DIR:./uploadedfiles}

# Checksum decorator configuration
file:
  upload:
    enable-checkSum: True #change this accordinglyg
    strategy:  S3
    defaultStorageLimit: 100


#todo change this configuration -- only for testing - for production remove put the /docs protected
springdoc:
  swagger-ui:
    path: /docs/ui
  api-docs:
    path: /docs/api

#todo change this on priority, do not hardcode it, and also destroy the bucket after the use.
# todo generate a new access key for accessing it.
aws:
  accessKey: fake_key
  secretKey: fake_password
  region: us-east-1
  bucket:
    name: securevaultprajv1


#Optional And learnig Bucket4j and redis for interview prep

#  data:
#    redis:
#      host: localhost
#      port: 6379
